body{
  margin: 5px;
}

main{
  background-color:#d8e3e7;
  border-radius: 5px;
}

h1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 1.5rem;
}

p{
      font-family: 'Poppins', sans-serif;
      line-height: 2;

}

img{

  border-radius: 50PX;
  width: 25%;
  display: grid;
  margin: auto;
}

#top-para{
  text-align: center;
}

#image-caption{
  text-align: center;
}

#img-div{
  padding:50px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;

}
